extends layout

block content
  div.commonStyle()
    
    div.commonStyle(align="center")
      span(class="fa-solid fa-file" style="color: #1975d7; zoom:400%;")

    hr 

    div(class="card cardStyle")
      div(class="card-header h3Style") MSPB-Docs
      //div(align="center")
        img.imgStyle(src="images/SoftUnderContr.jpeg" alt="MSPB" width="160" align="center")
      div(class="card-body")
        div(id="carouselExampleControls" class="carousel" data-bs-ride="carousel")
          div(class="carousel-inner")
            - var firstItem = true
            each item in docArray
              if firstItem
                - firstItem = false
                div(class="carousel-item active")
                  img(src="files/VBC_Playbook_V11/" + item width="65%" style="display: block; margin-left: auto; margin-right: auto;")
              else
                div(class="carousel-item")
                  img(src="files/VBC_Playbook_V11/" + item width="65%" style="display: block; margin-left: auto; margin-right: auto;")
          button(class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
            span(class="carousel-control-prev-icon" style="background-color:#777;" aria-hidden="false")
            span(class="visually-hidden") Previous
          button(class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
            span(class="carousel-control-next-icon" style="background-color:#777;" aria-hidden="false")
            span(class="visually-hidden") Next
  //div
      embed(src="files/VBC_Playbook_V11.pdf" height="800" style="width: 80%; display: block; margin-left: auto; margin-right: auto;")
  //div(class="carousel-item active")
              img(src="files/VBC_Playbook_V11/" + docArray[0] width="500" style="display: block; margin-left: auto; margin-right: auto;")
            