
extends layout

block content
  div.commonStyle()
    
    div.commonStyle(align="center")
      img.imgStyle(src="images/mspb_logo.jpeg" alt="MSPB" width="160" height="160" align="center")

    hr 

    div(class="card cardStyle")
      div(class="card-header h3Style") Common Questions and Answers
      div(class="card-body")
        blockquote(class="blockquote mb-0 cardBlockStyle")
          div(class="accordion" id="accordionQA")
            div(class="accordion-item" style="margin-left: 35px; width: 92%;")
              h2(class="accordion-header" id="headingOne")
                button(class="accordion-button bAccordProp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ) Question Item No 1
              div(class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionQA")
                div(class="accordion-body")
                  h4 A1: 111111
                  h4 A2: 222222.
            div(class="accordion-item" style="margin-left: 35px; width: 92%;")
              h2(class="accordion-header" id="headingTwo")
                button(class="accordion-button bAccordProp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Question Item No 2
              div(class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionQA")
                div(class="accordion-body")
                  h4 A1: 111111
                  h4 A2: 222222.
            div(class="accordion-item" style="margin-left: 35px; width: 92%;")
              h2(class="accordion-header" id="headingThree")
                button(class="accordion-button bAccordProp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Question Item No 3
              div(class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionQA")
                div(class="accordion-body")
                  h4 A1: 111111
                  h4 A2: 222222.

  hr 

  div(class="card cardStyle")
    div(class="card-header h3Style") Videos
    div(class="card-body")
      blockquote(class="blockquote mb-0 cardBlockStyle")
        ol(style="margin-left: 0.4em;")
          li()
            div(style=" display: flex; align-items: top;")
              video(width='80' heigth='120' controls)
                  source(src='videos/test_tutorial.mov')
                  Your browser does not support the video tag/type.
              div.textVideoStyle()
                p.vStyle Title: Test Primer Tutorial
                p.vStyle Author: Laura Ramirez

  hr

  div(class="card cardStyle")
    div(class="card-header h3Style") Email your question
    div(class="card-body")
      blockquote(class="blockquote mb-0 cardBlockStyle")
        div
          label.labelStyle(for='dQuestion') Question
        div
          textarea.questionText(id='dQuestion' placeholder='Write your question' rows=3)
        button.sendStyle(onClick='sendDMail("dQuestion")') Send
