extends layout

block content
  div.commonStyle()
    
    div.commonStyle(align="center")
      img.imgStyle(src="images/mspb_logo.jpeg" alt="MSPB" width="160" height="160" align="center")

    hr 

    div(class="card cardStyle")
      div(class="card-header h3Style") Frequently Asked Questions
      div(class="card-body")
        h4.h4CardStyle Transitional Care Management (TCM):
        blockquote(class="blockquote mb-0 cardBlockStyle")
          div(class="accordion" id="accordionQA" )
            div(class="accordion-item" style="margin-left: 35px; width: 92%;")
              h2(class="accordion-header" id="headingOne")
                button(class="accordion-button bAccordProp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ) o Can you do a TCM and AWV at the same time?
              div(class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionQA")
                div(class="accordion-body")
                  h4 You can do both in one visit, but you CANNOT bill the TCM 99495/99496 with the AWV G0438/9 code. You can, however, report the 1111F medication reconciliation code along with the AWV visit.
            div(class="accordion-item" style="margin-left: 35px; width: 92%;")
              h2(class="accordion-header" id="headingTwo")
                button(class="accordion-button bAccordProp" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") o Can you do a TCM over telehealth?
              div(class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionQA")
                div(class="accordion-body")
                  h4 Yes, as long as it is a face-to-face visit, the 99495/6 can be billed. (Doximity, Athena Telehealth Beta, etc.)

  hr 

  div(class="card cardStyle")
    div(class="card-header h3Style") Email your question
    div(class="card-body")
      blockquote(class="blockquote mb-0 cardBlockStyle")
        div
          label.labelStyle(for='dQuestion') Question
        div
          textarea.questionText(id='dQuestion' placeholder='Write your question' rows=3)
        button.sendStyle(onClick='sendDMail("dQuestion")') Send
