extends layout

block content
  h1= title

  h3 Common Questions and Answers


  ol
    li Q1: ?
      ul
        li A1: 111111
        li A2: 222222
    li Q2: ??
      ul
        li A1: 111111
        li A2: 222222
    li Q3: ?
      ul
        li A1: 111111
        li A2: 222222



  hr 

  h3 Tutorials (Videos)
  ol
    li Test Primer Tutorial
      ul
        li
          video(width='160' heigth='240' controls)
            source(src='videos/test_tutorial.mov')
            Your browser does not support the video tag/type.

  hr


