extends layout

block content
  h1= title
  h3 Common Questions and Answers
  ol
    li Q1: ?
      ul
        li A1: 111111
        li A2: 222222
    li Q2: ??
      ul
        li A1: 111111
        li A2: 222222
    li Q3: ?
      ul
        li A1: 111111
        li A2: 222222
