extends layout

block content
  div.header_div
    a.menu_style(class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample")
      span(class="fa-solid fa-bars")

    div(class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel")
      div(class="offcanvas-header")
        h5(class="offcanvas-title" id="offcanvasExampleLabel") Menu
        button(type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close")
      div(class="offcanvas-body")
        div(class="dropdown mt-2")
          ul(aria-labelledby="dropdownMenuButton")
            li
              h6 Provider Tutorials
            li
              h6 Office Manager Tutorials
            li
              h6 Office Staff Tutorials
            li
              h6 FAQs

    h1= title

  h3 Common Questions and Answers

  div(class="accordion" id="accordionExample")
    div(class="accordion-item" style="margin-left: 35px; width: 92%;")
      h2(class="accordion-header" id="headingOne")
        button(style="font-size: 3.25vw;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Question Item No 1
      div(class="accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample")
        div(class="accordion-body")
          h4 A1: 111111
          h4 A2: 222222.
    div(class="accordion-item" style="margin-left: 35px; width: 92%;")
      h2(class="accordion-header" id="headingTwo")
        button(style="font-size: 3.25vw;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Question Item No 2
      div(class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample")
        div(class="accordion-body")
          h4 A1: 111111
          h4 A2: 222222.
    div(class="accordion-item" style="margin-left: 35px; width: 92%;")
      h2(class="accordion-header" id="headingThree")
        button(style="font-size: 3.25vw;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Question Item No 3
      div(class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample")
        div(class="accordion-body")
          h4 A1: 111111
          h4 A2: 222222.

  hr 

  h3 Tutorials (Videos)
  ol
    li Test Primer Tutorial
      ul
        li
          video(width='160' heigth='240' controls)
            source(src='videos/test_tutorial.mov')
            Your browser does not support the video tag/type.

  hr


