doctype html
html
  head
    title= title
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/4c8d3e9977.js" crossorigin="anonymous")
  body
    block content

    div.header_div
      nav(class="nav nav-pills nav-fill fixed-top navStyle")
        div(style="display: flex;")
          img.headerImg(src="images/mspb_logo.jpeg" alt="MSPB" width="55" height="55")
          a(class="btn bProp" data-bs-toggle="offcanvas" href="#mainOffCanvas" role="button" aria-controls="mainOffCanvas")
            span(class="fa-solid fa-bars fa-2xl fa-beat-fade lProp")
        div.aDiv
          a(class="nav-link aProp" href="/")  Home
          a(class="nav-link aProp" aria-current="page" href="/pvdr") Provider
          a(class="nav-link aProp" href="/upmr") Management
          a(class="nav-link aProp" href="/staff") Staff
          a(class="nav-link aProp" href="/faqs") FAQs
          a(class="nav-link aProp" href="/tutorials") Tutorials


      div.offCanvasStyle(class="offcanvas offcanvas-start" tabindex="-1" id="mainOffCanvas" aria-labelledby="mainOffCanvasLabel")
        div(class="offcanvas-header")
          h3.canvasTitle Menu
          button(type="button" class="btn-close text-reset offCanvasClose" data-bs-dismiss="offcanvas" aria-label="Close")
        div(class="offcanvas-body" style="padding: 0; margin: 0")
          div(class="dropdown mt-2" style="padding: 0; margin: 0")
            ul(aria-labelledby="dropdownMenuButton" style="padding: 0; margin: 0")
              li.canvasObject 
                a.canvasMenuOption(href="/pvdr") Provider Tutorials
              li.canvasObject 
                a.canvasMenuOption(href="/upmr") Office Manager Tutorials
              li.canvasObject
                a.canvasMenuOption(href="/staff") Office Staff Tutorials
              li.canvasObject 
                a.canvasMenuOption(href="/faqs") FAQs
              li.canvasObject 
                a.canvasMenuOption(href="/tutorials") Tutorials

    script(src='/javascripts/getQuestionText.js')

    script(src='/javascripts/faqs.js')
    script(src='/javascripts/sendDMail.js')
    script(src='/javascripts/jquery.min.js')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")