extends layout

block content
  div.commonStyle()
    
    div.commonStyle(align="center")
      img.imgStyle(src="images/mspb_logo.jpeg" alt="MSPB" width="160" height="160" align="center")

    hr 

    div(class="card cardStyle")
      div(class="card-header h3Style") MSPB-Manager
      div(class="card-body")
        blockquote(class="blockquote mb-0")
          p.pProp(align="center") Coming soon.

