extends layout

block content
  div.commonStyle()
    
    div.commonStyle(align="center")
      img.imgStyle(src="images/mspb_logo.jpeg" alt="MSPB" width="160" height="160" align="center")

    hr 

    h3.h3Style Manager
    hr
    div.commonStyle(align="center")
      img(src="images/UC.png" alt="UC" align="center" width="300")
