extends layout

block content
  div.commonStyle()
    
    div.commonStyle(align="center")
      span(class="fa-solid fa-video" style="color: #1975d7; zoom:400%;")
      //img.imgStyle(src="images/mspb_logo.jpeg" alt="MSPB" width="160" height="160" align="center")

    hr 

    div(class="card cardStyle")
      div(class="card-header h3Style") Tutorials
      div(class="card-body")
        h4.h4CardStyle TCM Clinical Walk-Through (28/Aug/2023)
        blockquote(class="blockquote mb-0 cardBlockStyle")
          ol(style="margin-left: 0.4em;")
            li()
              div(style=" display: flex; align-items: top;")
                video(width='400' controls)
                    source(src='videos/TCM_Clinical_Walk-Through.mov')
                    Your browser does not support the video tag/type.
        hr
        h4.h4CardStyle Commercial Insurances
        blockquote(class="blockquote mb-0 cardBlockStyle")
          ol(style="margin-left: 0.4em;")
            li()
              div(style=" display: flex; align-items: top;")
                video(width='400' controls)
                    source(src='videos/Commercial_Insurances.mp4')
                    Your browser does not support the video tag/type.
        hr
        h4.h4CardStyle Medicare Insurance
        blockquote(class="blockquote mb-0 cardBlockStyle")
          ol(style="margin-left: 0.4em;")
            li()
              div(style=" display: flex; align-items: top;")
                video(width='400' controls)
                    source(src='videos/Medicare_Insurance.mp4')
                    Your browser does not support the video tag/type.
        hr
        h4.h4CardStyle Medicare Advantage
        blockquote(class="blockquote mb-0 cardBlockStyle")
          ol(style="margin-left: 0.4em;")
            li()
              div(style=" display: flex; align-items: top;")
                video(width='400' controls)
                    source(src='videos/Medicare_Advantage.mp4')
                    Your browser does not support the video tag/type.
        hr

