body {
  padding: 10px 10px 10px 5px;
  font: 14ew "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left:20px;
}

.header_div {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
	margin-left: 0px;
	padding: 4px 16px 4px 16px;

	width: 98%;
}

.menu_style {
  padding: 0 3px 0 3px;
  margin: 0 5px 0 0;
 	display: inline-block;
	font-family:  "Garamond", serif;
	font-weight: bold;
	font-size: 5.6vw;
	width: 8%;
	background: -webkit-linear-gradient(top, #8ea2c2, #082c62);
	background: -o-linear-gradient(top, #8ea2c2, #082c62);
	background: -moz-linear-gradient(top, #8ea2c2, #082c62);
	background: linear-gradient(top, #8ea2c2, #082c62);
	border: 1px solid #999;
	border-radius: 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

h1, p {
  padding: 0 3px 0 3px;
  margin: 0;
	display: inline-block;
	font-family:  "Garamond", serif;
	font-weight: bold;
	font-size: 7vw;
	width: 90%;
	background: -webkit-linear-gradient(top, #8ea2c2, #082c62);
	background: -o-linear-gradient(top, #8ea2c2, #082c62);
	background: -moz-linear-gradient(top, #8ea2c2, #082c62);
	background: linear-gradient(top, #8ea2c2, #082c62);
	border: 1px solid #999;
	border-radius: 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: left;
	vertical-align: middle;
	color: #fff;
}

h3 {
  margin: 5px 0px 5px 15px;
  padding: 0;
  font-family:  "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 3.5vw;
	font-weight: 700;
}

h4 {
  margin: 5px 0px 5px 25px;
  padding: 0;
  font-size: 2.5vw;
}

h6 {
  margin: 5px 0px 5px 25px;
  padding: 0;
  font-size: 1.5vw;
}

ol {
  margin: 5px 0px 5px 75px;
  padding: 0;
  font-size: 2.75vw;
}

ul {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  font-size: 2.75vw;
  list-style-type: none;
}

hr {
	  margin: 20px 0px 20px 5px;
		height:2px;
		border:none;
		color:#777;
		background-color:#777;
}

a {
  color: #00B7FF;
}


/*
#body {
#  padding-left: 30px;
#  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
#}

.dTestButton {
	float: none;
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	background: none;
	background-color: #e0ddc8;
	margin-bottom: 12px;
	margin-left: 100px;
	padding: 2px 16px 2px 16px;
	width:240px;
	height:30px;
	background: -webkit-linear-gradient(top, #8ea2c2, #082c62);
	background: -o-linear-gradient(top, #8ea2c2, #082c62);
	background: -moz-linear-gradient(top, #8ea2c2, #082c62);
	background: linear-gradient(top, #8ea2c2, #082c62);
	border: 1px solid #999;
	border-radius: 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}


.header {
	padding: 0px 0px 10px 0px;
}

img {
	margin: 0 0 0 0;
}

h2 {
	margin: 0.5px 0 0.05px 0;
}

h2#wMargin {
	margin: 0.25px 0 0 0;
	padding-left: 35px;
}

h2#small {
	margin: 0.25px 0 0 0;
	font: 20px "Arial", Sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}

h2#bodytitle {
	margin: 85px 0 0 20px;
	font: 18px "Arial", Sans-serif;
	font-weight: bold;
	padding: 10px 0 10px 0;
}

h3.sectionTitle {
	margin: 0px 0px 0 0;
	font: 18px "Arial", Sans-serif;
	font-weight: bold;
	padding: 10px 10px 10px 5px;
}


h3.sectionProgressTitle {
	margin: 0px 0 0 0;
	font: 18px "Arial", Sans-serif;
	font-weight: bold;
	padding: 10px 0 10px 5px;
}

h2.sectionProgress {
	margin: 0px 0 0 0;
	font: 24px "Arial", Sans-serif;
	font-weight: bold;
	padding: 3px 0 3px 3px;
}

h3.sectionProgress {
	margin: 0px 0 0 0;
	font: 16px "Arial", Sans-serif;
	font-weight: bold;
	font-style: oblique;
	padding: 2px 0 1px 5px;
}

hr.sectionProgress {
	margin: 0px 0px 0px 0px;
	border: none;
	height: 10px;
	line-height: 5px;
	color: #000000;

}

progress.bar {
	margin: 0px 0px 0px 7px;
}

meter.bar {
	margin: 0px 0px 0px 7px;
	padding-right: 14px;
	width: 100%;
}

h3 {
	margin: 0 0 0 0;
	padding-left: 10px;
}

h4 {
	margin: 0.25px 0 0 0;
	padding-left: 40px;
}

*/