body {
  padding: 10px 0px 10px 0px;
  font: 0.5em "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-left:20px;
  background:  #ddd;
}

.header_div {
  margin-bottom: 0 0 1em 0;
	padding: .5em 0 0 0;
	width: 98%;
}

.navStyle {
	display: flex;
	justify-content: space-between;
	padding: 5px 5px 5px 0px; 
	margin:0; 
	background: #003257;"
}

.headerImg {
	border-radius: 8px;
	margin: 3px;
	padding-bottom: 0;
}

.headerIcons {
	margin:0;
	font-size: 0.8em; 
	text-transform: none;"
}

/* Canvas section */

.offCanvasStyle {
	background: #003257;
	color: #E0EFFC;
	width: 80%;
}

.canvasTitle {
	font-size: 2.75em;
	color: #E0EFFC;
	margin: 0.4em 0 0 0.4em;
	font-weight: bold;
}

.canvasObject {
  margin: 0px 0px 0.25em 2em;
  padding: 0;
  font-size: 1em;
  list-style-type: circle;
}

.canvasMenuOption {
	font-size: 0.75em;
  list-style-type: circle;
	color: #E0EFFC;
	text-decoration:  none;
}

.offCanvasClose {
	background-color: #E0EFFC;
}

/* */


.commonStyle {
  margin-top: 100px;
  margin-bottom: 20px;
}

/* Email section */

.labelStyle {
  margin: 2px 0px 10px 35px;
  padding: 0;
  font-size: 1.25em;
}

.questionText {
  margin: 0px 0px 0px 55px;
  padding: 0 5px 0 10px;
  font-size: 1.25em;
  height: 80px;
  width:  90%;
  border: 1px solid #999;
	border-radius: 8px;
}

.h4CardStyle {
	font-size:1.6em;
	font-weight:bold;'
}

.sendStyle {
  margin: 5px 0px 30px 55px;
  padding: 0 20px 0 20px;
  font-size: 1.5em;
  font-weight: bold;
	font-style: oblique;
	color: white;
  border: 1px solid #999;
	border-radius: 8px;
	background: -webkit-linear-gradient(top, #8ea2c2, #082c62);
	background: -o-linear-gradient(top, #8ea2c2, #082c62);
	background: -moz-linear-gradient(top, #8ea2c2, #082c62);
	background: linear-gradient(top, #8ea2c2, #082c62);
}

/* */

h1 {
  padding: 0 3px 0 3px;
  margin: 0;
	display: inline-block;
	font-family:  "Garamond", serif;
	font-weight: bold;
	font-size: 7em;
	width: 90%;
	background: -webkit-linear-gradient(top, #8ea2c2, #082c62);
	background: -o-linear-gradient(top, #8ea2c2, #082c62);
	background: -moz-linear-gradient(top, #8ea2c2, #082c62);
	background: linear-gradient(top, #8ea2c2, #082c62);
	border: 1px solid #999;
	border-radius: 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: left;
	vertical-align: middle;
	color: #fff;
}

h4 {
  margin: 2px 0px 10px 35px;
  padding: 0;
  font-size: 1.2em;
}

ol {
  margin: 5px 0px 5px 75px;
  padding: 0;
  font-size: 2.75em;
  list-style-type: none;
}

ul {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  font-size: 2.75em;
  list-style-type: none;
}

hr {
	  margin: 20px 0px 20px 5px;
		height:2px;
		border:none;
		color:#777;
		background-color:#777;
}

.aDiv {
	display: block;
	align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding-top: 0;
}

.aProp {
	display: inline-block;
	align-items: center;
  padding: 0.25em 0 0 0 ;
  color: #E0EFFC;
  font-size: 2.0em;
  font-weight: bold;
  margin-right: .875em;
  margin-left: .25em;
}

.lProp {
  padding: 0.em;
  margin: 0;
 	cursor: pointer;
	text-align: center;
	vertical-align: bottom;
	color: #fff;
/*	zoom: 60%; */
}

.btn2 {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 0.625em 1em;
  font-size: 16px;
  cursor: pointer;
  border-radius: 9.0em;
  font-weight: bold;
}

.btn2:hover {
  background-color: RoyalBlue;
}

.bProp {
	display: flex;
	align-items: center;
	padding: 0em;
	margin: 0;
	border:  0;
}

.addQnA {
  position: absolute;
  right: 0.25em;
  top:  0.35em;
  /*border: 1px solid #aaa;
  color: #0C63E4;
	border-radius: 90px;
	background-color: #fff;
	font-weight: 700;*/
}


/* Accordion Styles */

.bAccordProp {
	font-size: 0.75em;
}

.accordionItemStyle {
	margin-left: 35px; 
	width: 92%;
}

/* */

/* Card Style */
.cardStyle {
	margin-right: 1em;
	box-shadow: 0.75em 0.75em 0.75em #003257;
	border-radius: .3em;
}

.h3Style {
  font-size: 2.2em;
	font-weight: bolder;
	background: #E0EFFC;
	color: #003257;
	text-align: center;
/*
	margin: 20px 0px 10px 15px;
  padding: 0;
	text-align: center;
	border: 1px solid #ddd;
	width: 96%;
	border-radius: 6px;
*/
}

.cardBlockStyle {
	padding: 0.5em;
}

.pProp {
  font-size: 1.5em;
  padding: 0.33m .15em;
  margin: 0.25em 1em 0.25em 1em;
}

/* */


.imgStyle {
	border-radius: 8px;
}

.textVideoStyle {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	justify-content: space-between;
}

.vStyle {
	font-size: 0.4em;
	margin-bottom: 0;
}


@media screen and (min-width: 415px) {
	body {
		font-size: 0.95em;
	}
}

@media screen and (min-widh: 768px) {
	body {
		font-size: 0.2em;
	}
}

/*
#body {
#  padding-left: 30px;
#  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
#}

.dTestButton {
	float: none;
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	background: none;
	background-color: #e0ddc8;
	margin-bottom: 12px;
	margin-left: 100px;
	padding: 2px 16px 2px 16px;
	width:240px;
	height:30px;
	background: -webkit-linear-gradient(top, #8ea2c2, #082c62);
	background: -o-linear-gradient(top, #8ea2c2, #082c62);
	background: -moz-linear-gradient(top, #8ea2c2, #082c62);
	background: linear-gradient(top, #8ea2c2, #082c62);
	border: 1px solid #999;
	border-radius: 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}


.header {
	padding: 0px 0px 10px 0px;
}

img {
	margin: 0 0 0 0;
}

h2 {
	margin: 0.5px 0 0.05px 0;
}

h2#wMargin {
	margin: 0.25px 0 0 0;
	padding-left: 35px;
}

h2#small {
	margin: 0.25px 0 0 0;
	font: 20px "Arial", Sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}

h2#bodytitle {
	margin: 85px 0 0 20px;
	font: 18px "Arial", Sans-serif;
	font-weight: bold;
	padding: 10px 0 10px 0;
}

h3.sectionTitle {
	margin: 0px 0px 0 0;
	font: 18px "Arial", Sans-serif;
	font-weight: bold;
	padding: 10px 10px 10px 5px;
}


h3.sectionProgressTitle {
	margin: 0px 0 0 0;
	font: 18px "Arial", Sans-serif;
	font-weight: bold;
	padding: 10px 0 10px 5px;
}

h2.sectionProgress {
	margin: 0px 0 0 0;
	font: 24px "Arial", Sans-serif;
	font-weight: bold;
	padding: 3px 0 3px 3px;
}

h3.sectionProgress {
	margin: 0px 0 0 0;
	font: 16px "Arial", Sans-serif;
	font-weight: bold;
	font-style: oblique;
	padding: 2px 0 1px 5px;
}

hr.sectionProgress {
	margin: 0px 0px 0px 0px;
	border: none;
	height: 10px;
	line-height: 5px;
	color: #000000;

}

progress.bar {
	margin: 0px 0px 0px 7px;
}

meter.bar {
	margin: 0px 0px 0px 7px;
	padding-right: 14px;
	width: 100%;
}

h3 {
	margin: 0 0 0 0;
	padding-left: 10px;
}

h4 {
	margin: 0.25px 0 0 0;
	padding-left: 40px;
}

*/